@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin appGradient($bgGradient){  
        background: $bgGradient;
    
}
@mixin contentBg($bgImage){  
    background-image: url($bgImage);

}