$morningBgGradient:linear-gradient(rgb(155, 155, 155) 10%,rgb(196, 194, 194)40%,rgb(247, 220, 183) 60%);
$morningContentBgImg: "./../img/bg/morning.png";

$noonBgGradient:linear-gradient(rgb(195, 237, 237)40%,rgb(255, 251, 174) 80%);
$noonContentBgImg: "./../img/bg/noon.png";


$eveningBgGradient:linear-gradient(rgb(120, 90, 88) 10%,rgb(120, 90, 88) 20%,rgb(164, 120, 98)50%,rgb(255, 149, 96) 80%);
$eveningContentBgImg: "./../img/bg/evening.png";

$nightBgGradient:linear-gradient(rgb(68, 91, 142)30%,rgb(57, 77, 121)60%,rgb(40, 46, 77) 80%);
$nightContentBgImg: "./../img/bg/night.png";

